@import "tailwindcss";

@theme inline {
  /* custom font-family */
  --font-main: var(--font-satoshi);
  --font-accent: var(--font-erica);
}

@theme {
  /* Custom color palette */
  --color-brand-blue: #2204ba;
  --color-brand-orange: #f0493a;
  --color-brand-yellow: #ffbf00;
  --color-brand-dark: #242529;
}

body {
  cursor: none;
  font-family: var(--font-main);
  font-weight: 400;
}

a,
button,
[role="button"],
[role="link"] {
  cursor: none;
}

/* Sticky cards */
.sticky-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}
