@import "tailwindcss";

@theme inline {
  /* custom font-family */
  --font-main: var(--font-satoshi);
  --font-accent: var(--font-erica);
}

@theme {
  /* Custom color palette */
  --color-brand-blue: #2204ba;
  --color-brand-orange: #f0493a;
  --color-brand-yellow: #ffbf00;
  --color-brand-dark: #242529;
}

body {
  font-family: var(--font-main);
  font-weight: 400;
}

* {
  cursor: none !important;
}

/* Sticky cards */
.sticky-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}

/* Mouse Mask Utility */
.mouse-mask {
  mask-size: calc(var(--mask-size, 300) * 1px) calc(var(--mask-size, 300) * 1px);
  -webkit-mask-size: calc(var(--mask-size, 300) * 1px) calc(var(--mask-size, 300) * 1px);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-image: radial-gradient(circle closest-side, black 100%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle closest-side, black 100%, transparent 100%);
  mask-position: calc(var(--x) * 1px - var(--mask-size, 300) * 1px / 2) calc(var(--y) * 1px - var(--mask-size, 300) * 1px / 2);
  -webkit-mask-position: calc(var(--x) * 1px - var(--mask-size, 300) * 1px / 2) calc(var(--y) * 1px - var(--mask-size, 300) * 1px / 2);
}
